// 深色主题的外观
@mixin dark-appearance {
  filter: invert(1); // 反转颜色
}

html, body { background: white; }

// 设置 html 高度为 100%
html { height: 100%; }

// body 的基本样式设置
body {
  color: rgb(50, 50, 50); // 文字颜色
  font-family: monospace; // 字体
  font-size: 16px; // 字体大小
  line-height: 1.9; // 行高
  margin: 0; // 无外边距
  min-height: 100%; // 最小高度
  overflow-wrap: break-word; // 自动换行
  letter-spacing: 1px;  // 字宽根据需要调整该值
}

.I-message {
  width: 80%;            
  margin-top: 20px;      /* 块的顶部外部距离 */
  margin-bottom: 10px;   /* 块的底部外部距离 */
  margin-left: 5px;     /* 块的左侧外部距离 */
  margin-right: 0px;    /* 块的右侧外部距离 */

  padding-top: 10px;     /* 块的顶部内部填充 */
  padding-bottom: 10px;   /* 块的底部内部填充 */
  padding-left: 15px;     /* 块的左侧内部填充 */
  padding-right: 10px;   /* 块的右侧内部填充 */

  border-radius: 15px; /* 设置圆角半径，可以根据需要调整 */
  background-color: #f3f3f3; 
  border: 0px solid #ffffff; 
  color: #929292;            
  font-size: 14px;           
  line-height: 1.3;       /* 定义行间距 */
}

.separator {  /* 分隔符 */
  height: 5px; /* 设置高度，可以根据需要调整 */
  background-color: #ccc; /* 设置背景颜色，可以根据需要调整 */
  visibility: hidden; /* 隐藏元素，但仍占据空间 */
}

.back-link {
  display: block;
  margin-top: 2rem;      /* 调整上边距 */
  margin-bottom: 0rem;  /* 调整下边距 */
}

// 文章的元数据文本对齐方式，margin-top是上下间距
.post-meta { text-align: right; 
  margin-top: 0rem;     
}

// 标题的上边距设置
h2, h3, h4, h5, h6 { margin-top: 3rem; }

// 水平分割线的边距
hr { margin: 2rem 0; }

// 段落的边距设置
p { margin: 2.5rem 0; }

// 列表项的边距
li { margin: 0.4rem 0; }

// 目标元素的背景颜色
*:target { background: rgb(128, 128, 128); }

// .w 类的样式设置
.w {
  max-width: 640px; // 最大宽度
  margin: 0 auto; // 居中
  padding: 4rem 2rem; // 内边距
}

// 自定义水平分割线样式


// 表格样式
table { width: 100%; } // 宽度为100%
table, th, td {
  border: thin solid black; // 边框样式
  border-collapse: collapse; // 边框合并
  padding: 0.4rem; // 内边距
}

// 代码块样式
code {
  color: rgb(0, 0, 0); // 文字颜色
  background: rgb(241, 241, 241); // 背景颜色
  font-size: 14px; // 字体大小
}

// Rouge代码高亮样式
div.highlighter-rouge code {
  display: block; // 块级显示
  overflow-x: auto; // 横向滚动条
  white-space: pre-wrap; // 保留空格
  padding: 1rem; // 内边距
}

// 引用样式
blockquote {
  font-style: italic; // 斜体
  border: thin solid black; // 边框样式
  padding: 1rem; // 内边距

  // 引用中的段落样式
  p { margin: 0; }
}

// 图片样式
img {
  max-width: 100%; // 最大宽度
  display: block; // 块级显示
  margin: 0 auto; // 居中
}
