html, body {
  background: #ffffff;
  margin: 0;
}

html { height: 100%; }

body {
  color: #373737;
  font-family: monospace;
  font-size: 16px;
  line-height: 1.9;
  min-height: 100%;
  overflow-wrap: break-word;
  letter-spacing: 1px;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.counter-container {
  position: relative;
  top: 0em;
  display: inline-block;
  white-space: nowrap;
}

.custom-counter {
  color: #ffffff;
  font-size: 12px;
  background-color: #373737;
  padding: 2px;
  border-radius: 5px;
}

.w {
  max-width: 640px;
  margin: 0 auto;
  padding: 4rem 2rem 0 2rem; /* 将底部的 padding 设为 0 */
}

a {
  color: #373737;
  font-weight: bold;
}

.tags {
  color: rgb(255, 255, 255);
  border: 0px solid blue;
  padding: 2px;
  margin: 0 0px;
  background-color: #373737;
  border-radius: 0px;
  line-height: 1;
  font-size: 12px;
  white-space: nowrap;
}

.audio-container {
  max-width: 320px;
  width: 100%;
  margin: auto;
  display: block;
}

.audio-cover {
  width: 100%; 
  margin-bottom: 15px; 
}

.audio-player {
  width: 100%; 
  margin-top: 30px;
}

ul {
  list-style-type: disc;
}

.separator {
  height: 5px;
  background-color: #cccccc;
  visibility: hidden;
}

.back-link {
  display: block;
  margin-top: 4rem;
}

.post-meta {
  text-align: right;
  font-size: 14px;
  color: #373737;
  font-weight: normal;
}

h1 {
  margin-top: 3rem;
  margin-bottom: 3rem; 
}

h2, h3, h4, h5, h6 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

hr {
  margin: 3rem 0;
}

p {
  margin: 2rem 0;
}

li {
  margin: 0rem 0;
}

.toc-container {
  position: -webkit-sticky;
  position: sticky;
  bottom: -1px;         /* 距离底部的距离 */
  z-index: 1001;

  /* 这里使容器与.w的宽度保持一致 */
  max-width: 640px;
  margin: 0 auto;
  padding: 0rem 0rem;
  text-align: right;  /* 使按钮向右对齐 */
}

.toc-button {

  /* 样式 */
  display: inline-block; /* 这确保按钮可以应用到内部间距和外部间距 */
  font-size: 1rem;      /* 字体大小 */
  font-weight: normal;      /* 字体粗细 */
  padding: 3px 12px; 
  background-color: #373737; /* 背景颜色 */
  border-radius: 0rem;     /* 圆角大小 */
  color: #ffffff;            /* 文字颜色 */
  text-decoration: none;  /* 移除链接下划线 */
  cursor: pointer;        /* 鼠标悬停时的样式为手指形状 */
}

*:target {
  background: #373737;
  color: #ffffff;
}

table, th, td {
  width: 100%;
  border: thin solid black;
  border-collapse: collapse;
  padding: 0.4rem;
}

code {
  color: #000000;
  background: #bebebe;
  font-size: 14px;
}

div.highlighter-rouge code {
  display: block;
  overflow-x: auto;
  white-space: pre-wrap;
  padding: 1rem;
}

blockquote {
  font-style: italic;
  border: thin solid black;
  padding: 1rem;
}

em {
  font-style: italic;
  color: #b2b2b2;
  font-size: 14px;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.footer-img {
  width: calc(100% + 4rem);
  max-width: calc(640px + 4rem);
  margin-left: -2rem;
  margin-right: -2rem;
  margin-top: 6rem;
  margin-bottom: -4.01rem;
  display: block;
  height: auto;
}

.header-img {
  width: calc(100% + 4rem);
  max-width: calc(640px + 4rem);
  margin-left: -2rem;
  margin-right: -2rem;
  margin-top: -4.01rem;
  margin-bottom: 6rem;
  display: block;
  height: auto;
}
