---
layout: default
---
<header>
  <h1>{{ site.title }}</h1>
</header>



  {%-include menu_item.html collection=site.data.menu.entries-%}



  <div class="I-message">

    <b>2023-09-16
      为了保证不被ban，某些内容我可能会用英文来写，不过放心，网页设置了英文属性，你只需要打开浏览器的翻译功能就能解决语言问题</br>
      </b>
      </div>

  <div class="I-message">
  
        <b>2023-09-07
          “Repositories”里是一些个人整理的资料库，有技术文档、方案什么的，因为用途不同，可能托管在不同的平台，内有说明，请按需自取</b>
          </div>

  <div class="I-message">
  
    <b>2023-09-06
      空间设计秉承极简主义，但你应该知道我的风格，肯定不会是看起来那么简单…吧🙃</br>
      </b>
      </div>

  <div class="I-message">
  
    <b>2023-09-06
      由于各种审查、限制机制与个人价值观不符，于是开了”10K.love"这个空间，这里会有我的最新动态，当然，它类似朋友圈，可能偶尔只是想在某个时刻留下某句话</b>
      </div>
{{ content }}
