---
layout: default
---

{%-include back_link.html-%}

<article>
  <p class="post-meta">
    <time datetime="{{ page.date }}">{{ page.date | date: site.theme_config.date_format }}</time>
    {% if page.location %}
    <br>{{ page.location }}
    {% endif %}
  </p>

  <h1>{{ page.title }}<span style="margin-right: 5px;"></span><span class="counter-container"><script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script><span id="busuanzi_container_page_pv" style='display:none' class="custom-counter"><span id="busuanzi_value_page_pv"></span> views</span></span></h1>

  {% assign content = content | replace: '<img src', '<img class="lazyload" data-src' %}
  {{ content }}
</article>

